.mr-header {
  background-color: #f6f6f7;
  height: 45px;
  width: 100%;
  margin: 20px auto;
}

.mr-flex {
  display: flex;
}

.mr-fontdark {
  color: #222222;
}

.mr-fontlight {
  color: #888888;
}

.mr-upper {
  text-transform: uppercase;
}

.mr-bold {
  font-weight: bold;
}

button {
  border: 2px solid #cccccc;
  background-color: #ffffff;
  margin: 10px 0;
}

.mr-cart {
  width: 100%;
  height: 100%;
}
.mr-carttext {
  display: none;
}
.mr-carticon {
  display: block;
}

.mr-cartCount {
  margin: 13px 8px;
}

.mr-cart-title {
  padding: 0 10px;
  width: fit-content;
  margin: auto;
  margin-right: 5%;
  height: 100%;

  user-select: none;
}

.mr-cart-title:hover {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-bottom: 0;
}

.mr-cart-titleText {
  margin: 0 10px;
}

.mr-cart-drop {
  width: 85%;
  padding: 20px;
  border: 1px solid #cccccc;
  border-top: none;
  margin: auto;
  z-index: 10;
  position: absolute;
  background-color: white;
  right: 5%;
}

.mr-cartbtn {
  border: 3px solid #222222;
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 25px;
}

.mr-cartbtn:hover {
  background-color: #222222;
  transition: background-color 0.2s;
  color: white;
}
.mr-cart-image {
  width: 100px;
}

.mr-cart-detailtext {
  padding-left: 10px;
  padding-right: 120px;
  font-size: 0.9em;
}

/* Product Component */
.mr-headertext {
  font-weight: normal;
}

.mr-product-container {
  margin: 20px;
  z-index: 1;
}

.mr-product-imageContainer {
  margin: auto;
}

.mr-product-image {
  width: 80%;
}

.mr-required {
  color: #c90000;
  font-weight: bolder;
}

.mr-sizebtn {
  margin-right: 5px;
  padding: 18px 20px;
}

.mr-sizebtn::selection {
  border: 3px solid #222222;
}

@media only screen and (min-width: 1000px) {
  .mr-header {
    width: 70%;
  }

  .mr-cart-title {
    margin-right: 15%;
  }
  .mr-carttext {
    display: block;
  }
  .mr-carticon {
    display: none;
  }

  .mr-cartCount {
    margin: 16px 8px;
  }

  .mr-cart-drop {
    width: fit-content;
    padding: 20px 50px 20px 30px;
    margin-right: 15%;
    right: 10.5%;
  }
  .mr-product-container {
    display: flex;
  }

  .mr-product-imageContainer {
    width: 50%;
  }
  .mr-product-detailContainer {
    width: 50%;
  }
}
