.mr-header {
  background-color: #f6f6f7;
  height: 45px;
  width: 100%;
  margin: 20px auto;
}

.mr-flex {
  display: flex;
}

.mr-fontdark {
  color: #222222;
}

.mr-fontlight {
  color: #888888;
}

.mr-upper {
  text-transform: uppercase;
}

.mr-bold {
  font-weight: bold;
}

button {
  border: 2px solid #cccccc;
  background-color: #ffffff;
  margin: 10px 0;
}

.mr-cart {
  width: 100%;
  height: 100%;
}
.mr-carttext {
  display: none;
}
.mr-carticon {
  display: block;
}

.mr-cartCount {
  margin: 13px 8px;
}

.mr-cart-title {
  background-color: #ffffff;
  padding: 0 10px;
  width: fit-content;
  margin: auto;
  margin-right: 5%;
  height: 100%;
  border: 1px solid #cccccc;
  border-bottom: 0;
  user-select: none;
}

.mr-cart-titleText {
  margin: 0 10px;
}

.mr-cart-drop {
  width: 80%;
  padding: 20px;
  border: 1px solid #cccccc;
  border-top: none;
  margin: auto;
  margin-right: 5%;
  z-index: 1;
  position: relative;
  background-color: white;
}

/* Product Component */
.mr-headertext {
  font-weight: normal;
}

.mr-product-container {
  margin: 20px;
}

.mr-product-imageContainer {
  margin: auto;
}

.mr-product-image {
  width: 80%;
}

.mr-required {
  color: #c90000;
  font-weight: bolder;
}

.mr-sizebtn {
  margin-right: 5px;
  padding: 18px 20px;
}

.mr-cartbtn {
  border: 2px solid#222222;
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 25px;
}

@media only screen and (min-width: 600px) {
  .mr-header {
    width: 70%;
  }

  .mr-cart-title {
    margin-right: 15%;
  }
  .mr-carttext {
    display: block;
  }
  .mr-carticon {
    display: none;
  }

  .mr-cartCount {
    margin: 16px 8px;
  }

  .mr-cart-drop {
    width: 40%;
    margin-right: 15%;
  }
}
