.mr-header {
  background-color: #f6f6f7;
  height: 45px;
  width: 100%;
  margin: 20px auto;
}

.mr-cart {
  width: 100%;
  height: 100%;
}

.mr-cart-title {
  background-color: #ffffff;
  padding: 0 10px;
  width: fit-content;
  margin: auto;
  margin-right: 5%;
  height: 100%;
  border: 1px solid #cccccc;
  border-bottom: 0;
  user-select: none;
}

.mr-cart-titleText {
  margin: 10px 10px;
}

.mr-cart-drop {
  width: 80%;
  padding: 20px;
  border: 1px solid #cccccc;
  border-top: none;
  margin: auto;
  margin-right: 5%;
}

@media only screen and (min-width: 600px) {
  .mr-header {
    width: 70%;
  }

  .mr-cart-title {
    margin-right: 15%;
  }

  .mr-cart-drop {
    width: 40%;
    margin-right: 15%;
  }
}
